html,body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  .menu__item::after {
	position: absolute;
    left: -1px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: #e89c38;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

  .menu__item:hover,
  .menu__item:active {
	opacity: 0.5;
}

  .menu__item:hover::after {
    opacity: 1;
    width: 100%;
}

.main__buttons:hover,
.a:hover {
  cursor: default;
}

  .main__buttons {
    text-align: center;
}

.main__button:hover {
  opacity: 0.5;
}

.main__button:active {
    opacity: 0.5;
}

.main__button:hover::after {
  opacity: 1;
}

/* разрешение от 1920 */
@media (min-width: 1920px) {
  .wrapper {
    width: 85%;
	height: 100px;
	margin-top: 31px;
	padding-left: 10vw;
}

  .header {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 0;
}

  .logo__img {
	width: 150px;
	height: 43px;
	background: url(img/stack.svg) 90% 15px no-repeat;
}

  .logo__diamond {
    position: absolute;
	width: 29px;
    height: 29px;
    opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
    left: 5px;
	top: 13px;
}

  .logo__diamond_color {
	position: absolute;
	width: 29px;
    height: 29px;
    opacity: 0.5;
	border-radius: 5px;
    background: #e89c38;
	transform: rotate(135deg);
    left: 10px;
	top: 16px;
}

   .menu {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

  .menu__item {
    position: relative;
    margin-top: 8%;
    margin-right: 24px;
    font: 700 18px/23px 'pt_sans_caption', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
}

  .menu__item:last-child {
    margin-right: 1px;
}

  .main__title {
	text-align: center;
	margin: 58px 0 58px 27.5%;
	width: 45vw;
	font: 700 40px/51px 'pt_sans_caption', arial, helvetica, sans-serif;
}

  .main__button {
    background: url(img/apple.png) no-repeat;
	display: inline-block;
	justify-content: center;
	vertical-align: top;
    width: 194px;
	height: 64px;
}

  .main__button2 {
	background: url(img/google.png) no-repeat;
	margin-left: 30.5px;
}

  .main__button-phone {
	background:url(img/iphonexs.png) no-repeat;
	position: absolute;
	top: 52.3%;
	right: 37.6vw;
	min-width: 25vw;
    height: 485px;
}

   .main__blockimg {
    z-index: -1;
    position: absolute;
    background:
      url(img/groupl.svg)  left 1px no-repeat,
      url(img/groupr.svg) right 1px no-repeat;
    box-sizing: border-box;
    width: 100%;
    height: 974px;
    bottom: 0;
}
}

/* разрешение от 1447 до 1919 */
@media (min-width: 1447px) and (max-width: 1919px) {
  .wrapper {
    width: 80%;
	height: 100px;
	margin-top: 28px;
	padding-left: 16vw;
}
	
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
	
  .logo__img {
    width: 111px;
	height: 40px;
	background: url(img/stack.svg) 98% 15px/60% no-repeat;
}
	
  .logo__diamond {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 5px;
	top: 13px;
}
	
  .logo__diamond_color {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 10px;
	top: 16px;
}
	
  .menu {
    display: flex;
	align-items: center;
	margin-right: 100px;
}
	
  .menu__item {
    position: relative;
	margin-top: 8.3%;
	margin-right: 23px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
	
   .menu__item:last-child {
    margin-right: 1px;
}
	  
  .main__title {
    text-align: center;
	margin: 26px 0 41px 30%;
	width: 40vw;
    font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
	
  .main__button {
	background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	vertical-align: top;
	min-width: 134px;
	height: 44px;
}
  
  .main__button2 {
    background: url(img/google-1366.png) no-repeat;
    margin-left: 20px;	
}
  
  .main__button-phone {
    background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 49%;
	right: 33vw;
	min-width: 27vw;
	height: 393px;
}
  
  .main__blockimg {
    z-index: -1;
	position: absolute;
	box-sizing: border-box;
	background: 
	  url(img/groupl-1366.svg) left 23px no-repeat,
	  url(img/groupr-1366.svg) right 0 no-repeat;
	width: 100%;
	height: 768px;
	bottom: 0;
}
}

/* разрешение от 1353 до 1446 */
@media (min-width: 1353px) and (max-width: 1446px) {
  .wrapper {
	width: 80%;
	height: 100px;
	margin-top: 28px;
	padding-left: 16vw;
}
  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
  
  .logo__img {
	width: 111px;
	height: 40px;
	background: url(img/stack.svg) 98% 15px/60% no-repeat;
}
  
  .logo__diamond {
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    border-radius: 5px;
    background: #ffbe4d;
    transform: rotate(135deg);
    left: 5px;
	top: 13px;
}
  
  .logo__diamond_color {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 10px;
	top: 16px;
}
  
  .menu {
	display: flex;
	align-items: center;
	margin-right: 100px;
}
  
  .menu__item {
	position: relative;
	margin-top: 8.3%;
	margin-right: 23px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
  
  .menu__item:last-child {
    margin-right: 1px;
}
    
  .main__title {
	text-align: center;
	margin: 26px 0 41px 22.5%;
	width: 55vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__button {
	background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	vertical-align: top;
    min-width: 134px;
	height: 44px;
}

  .main__button2 {
	background: url(img/google-1366.png) no-repeat;
	margin-left: 20px;	
}

  .main__button-phone {
	background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 49%;
	right: 37.3vw;
	min-width: 27vw;
    height: 393px;
}

  .main__blockimg {
    z-index: -1;
    position: absolute;
	box-sizing: border-box;
	background: 
	  url(img/groupl-1366.svg) left 23px no-repeat,
	  url(img/groupr-1366.svg) right 0 no-repeat;
    width: 100%;
    height: 768px;
    bottom: 0;
}
}

/* разрешение от 1171 до 1352 */
@media (min-width: 1171px) and (max-width: 1352px) {
  .wrapper {
    width: 80%;
	height: 100px;
	margin-top: 28px;
	padding-left: 16vw;
}
	
  .header {
    display: flex;
	position: relative;
    justify-content: space-between;
    margin-bottom: 0;
}
	
  .logo__img {
    width: 111px;
	height: 40px;
	background: url(img/stack.svg) 98% 15px/60% no-repeat;
}
	
  .logo__diamond {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 5px;
	top: 13px;
}
	
  .logo__diamond_color {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 10px;
	top: 16px;
}
	
  .menu {
    display: flex;
	align-items: center;
	margin-right: 100px;
}
	
  .menu__item {
    position: relative;
	margin-top: 8.3%;
	margin-right: 23px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
	
  .menu__item:last-child {
    margin-right: 1px;
}
	  
  .main__title {
    text-align: center;
	margin: 26px 0 41px 22.5%;
	width: 55vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
	
  .main__button {
    background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	vertical-align: top;
	min-width: 134px;
	height: 44px;
}
  
  .main__button2 {
    background: url(img/google-1366.png) no-repeat;
	margin-left: 20px;	
}
  
  .main__button-phone {
    background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 49%;
	right: 33vw;
	min-width: 33vw;
	height: 393px;
}
  
  .main__blockimg {
    z-index: -1;
	position: absolute;
	box-sizing: border-box;
	background: 
      url(img/groupl-1366.svg) left 23px no-repeat,
	  url(img/groupr-1366.svg) right 0 no-repeat;
	width: 100%;
	height: 768px;
	bottom: 0;
}
} 
  
/* разрешение от 1157 до 1170 */
@media (min-width: 1157px) and (max-width: 1170px) {
  .wrapper {
    width: 80%;
	height: 100px;
	margin-top: 28px;
	padding-left: 16vw;
}
	
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
	
  .logo__img {
    width: 111px;
	height: 40px;
	background: url(img/stack.svg) 98% 15px/60% no-repeat;
}
	
  .logo__diamond {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 5px;
	top: 13px;
}
	
  .logo__diamond_color {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 10px;
	top: 16px;
}
	
  .menu {
    display: flex;
	align-items: center;
	margin-right: 100px;
}
	
  .menu__item {
    position: relative;
	margin-top: 8.3%;
	margin-right: 23px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
	
  .menu__item:last-child {
    margin-right: 1px;
}
	  
  .main__title {
    text-align: center;
	margin: 26px 0 41px 22.5%;
	width: 55vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
	
  .main__button {
    background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	vertical-align: top;
	min-width: 134px;
	height: 44px;
}
  
  .main__button2 {
    background: url(img/google-1366.png) no-repeat;
	margin-left: 20px;	
}
  
  .main__button-phone {
    background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 49%;
	right: 33vw;
	min-width: 33vw;
	height: 393px;
}
  
  .main__blockimg {
    z-index: -1;
	position: absolute;
	box-sizing: border-box;
	background: 
	  url(img/groupl-1366.svg) left 23px no-repeat,
	  url(img/groupr-1366.svg) right 0 no-repeat;
	width: 100%;
	height: 768px;
	bottom: 0;
}
}  

/* разрешение от 952 до 1156 */
@media (min-width: 952px) and (max-width: 1156px) {
  .wrapper {
	width: 85%;
	height: 100px;
	margin-top: 29px;
	padding-left: 10vw;
}
  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
  
  .logo__img {
	width: 117px;
	height: 40px;
	background: url(img/stack.svg) 100% 15px/59% no-repeat;
}
  
  .logo__diamond {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 9px;
	top: 12px;
}
  
  .logo__diamond_color {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 12px;
	top: 16px;
}
  
  .menu {
    display: flex;
	align-items: center;
	margin-bottom: 1px;
}
  
  .menu__item {
	position: relative;
	margin-top: 8.3%;
	margin-right: 22px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}

  .menu__item:last-child {
	margin-right: 0;
}

 .main__title {
	text-align: center;
	margin: 25px 0 41px 17.5%;
	width: 65vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}

  .main__button {
	background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	min-width: 15vw;
	height: 44px;
}

  .main__button2 {
	background: url(img/google-1366.png) no-repeat;
}

  .main__button-phone {
	background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 32vw;
	right: 23vw;
	width: 48vw;
    height: 393px;
}

  .main__blockimg {
    z-index: -1;
	position: absolute;
	box-sizing: border-box;
	background:
	  url(img/groupl-1170.svg) left no-repeat,
	  url(img/groupr-1170.svg) right no-repeat;
    width: 100%;
    height: 768px;
    bottom: 0;
}
} 

/* разрешение от 769 до 951 */
@media (min-width: 769px) and (max-width: 951px) {
  .wrapper {
    width: 85%;
	height: 100px;
	margin-top: 29px;
	padding-left: 10vw;
}
	
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
	
  .logo__img {
    width: 117px;
	height: 40px;
	background: url(img/stack.svg) 100% 15px/59% no-repeat;
}
	
  .logo__diamond {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 9px;
	top: 12px;
}
	
  .logo__diamond_color {
    position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 12px;
	top: 16px;
}
	
  .menu {
    display: flex;
	align-items: center;
	margin-bottom: 1px;
}
	
  .menu__item {
    position: relative;
	margin-top: 8.3%;
	margin-right: 22px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
  
  .menu__item:last-child {
    margin-right: 0;
}
  
  .main__title {
    text-align: center;
    margin: 0 17vw 5vw;
    width: 65vw;
    font: 700 22px/23px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__button {
    background: url(img/apple-1366.png) no-repeat;
	display: inline-block;
	width: 20vw;
	height: 44px;
}
  
  .main__button2 {
    background: url(img/google-1366.png) 10px no-repeat;
}
  
  .main__button-phone {
    background:url(img/iphonexs-1366.png) no-repeat;
	position: absolute;
	top: 35vw;
	right: 25vw;
	min-width: 48vw;
	height: 393px;
}
  
  .main__blockimg {
    z-index: -1;
	position: absolute;
	box-sizing: border-box;
	background:
	  url(img/groupl-1170.svg) left 18vw/30% no-repeat,
	  url(img/groupr-1170.svg) right 18vw/30% no-repeat;
	width: 100%;
	height: 768px;
	bottom: 0;
}
} 

/* adoptation for mobile 549-768 */
@media (min-width: 549px) and (max-width: 768px) {
  .wrapper {
    width: 70%;
	margin-left: auto;
	margin-right: 7%;
}
		 
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 18%;
}
  
  .logo__img {
    width: 200px;
	height: 40px;
	background: url(img/stack.svg) 50% center no-repeat;
}
  
  .logo__diamond {
    position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0;
	top: 0;
}
  
  .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 5px;
	top: 3px;
}
	
  .menu {
    display: none;
}
  
  .main__title {
    margin: 5% 20px 20px 30vw;
    text-align: center;
    width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__button {
    position: relative;
    background: url(img/apple-mob.png) no-repeat;
    left: 0;
	display: inline-block;
	vertical-align: top;
	width: 108px;
	height: 36px;
}
  
  .main__button2 {
	background: url(img/google-mob.png) no-repeat;
}
  
  .main__button-phone {
    position: absolute;
	margin-left: 19vw;
	width: 317px;
	height: 335px;
	background:	url(img/iphonexs-mob.png) 2vw 35px no-repeat;
}
}

/* adoptation for mobile 442-548 */
@media (min-width: 442px) and (max-width: 548px) {
  .wrapper {
    width: 70%;
	margin-left: auto;
	margin-right: 7%;
}
		 
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 18%;
  }

  .logo__img {
	width: 200px;
	height: 40px;
	background: url(img/stack.svg) 50% center no-repeat;
}
  
  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0;
	top: 0;
}
  
  .logo__diamond_color {
    position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 5px;
	top: 3px;
}
	
  .menu {
    display: none;
}
  
  .main__title {
    margin: 5% 20px 20px 25%;
	text-align: center;
	width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__button {
	position: relative;
	background: url(img/apple-mob.png) no-repeat;
	left: 0%;
	display: inline-block;
	vertical-align: top;
	width: 108px;
	height: 36px;
}
  
  .main__button2 {
    background: url(img/google-mob.png) no-repeat;
}
  
  .main__button-phone {
    margin-left: 2vw;
	width: 317px;
	height: 549px;
	background:	url(img/iphonexs-mob.png) 2vw 35px no-repeat;
}
}

/* adoptation for mobile 376-441 */
@media (min-width: 376px) and (max-width: 441px) {
  .wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: 7%;
}
 	  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 18%;
}

  .logo__img {
    width: 200px;
	height: 40px;
	background: url(img/stack.svg) 50% center no-repeat;
}

  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0;
	top: 0;
}

  .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 5px;
	top: 3px;
}
  
  .menu {
	display: none;
}

  .main__title {
	margin: 10% 0 20px 20%;
	text-align: center;
	width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}

  .main__button {
	position: relative;
	background: url(img/apple-mob.png) no-repeat;
	left: 0%;
	display: inline-block;
	vertical-align: top;
    width: 108px;
	height: 36px;
}

  .main__button2 {
	background: url(img/google-mob.png) no-repeat;
}

.main__button-phone {
    position: absolute;
	margin-left: 9vw;
	width: 317px;
    height: 549px;
	background:	url(img/iphonexs-mob.png) 2vw 35px no-repeat;
}
}

/* adoptation for mobile */
@media (min-width: 321px) and (max-width: 375px) {
  .wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: 11.6%;
}
 	  
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 9%;
}
  	 
  .logo__img {
	width: 200px;
	height: 40px;
	background: url(img/stack.svg) 58% center/53% no-repeat;
}

  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0px;
	top: 0px;
}

 .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 4px;
	top: 3px;
}
  
  .menu {
	display: none;
}

  .main__title {
	margin: 7.3vw 0 18vw 12vw;
	text-align: center;
	width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}

.main__button {
	background: url(img/apple-mob.png) no-repeat;
	display: inline-block;
	width: 30vw;
	height: 36px;
}

  .main__button2 {
	background: url(img/google-mob.png) no-repeat;
}

  .main__button-phone {
	background:url(img/iphonexs-mob.png) 0 no-repeat;
	position: relative;
	width: 89vw;
    height: 280px;
}
}

/* adoptation for iPhone 5/5S */
@media (max-width: 320px) {
  .wrapper {
	width: 70%;
    margin-left: auto;
    margin-right: 18%;
}
		   
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
    margin: 44% 0 0 9%;
}
		   
  .logo__img {
	width: 200px;
	height: 40px;
    background: url(img/stack.svg) 58% center/53% no-repeat;
}
	
  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0;
	top: 0;
}
	
  .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
    left: 4px;
    top: 3px;
}
	  
  .menu {
    display: none;
}
	
  .main__title {
    margin: 9vw;
    text-align: center;
    width: 80vw;
    height: 94px;
    font: bold 19px/21px 'pt_sans_caption', arial, helvetica, sans-serif;
}

.main__button {
	background: url(img/apple-mob.png) no-repeat;
	display: inline-block;
	width: 35vw;
	height: 36px;
}

  .main__button2 {
	background: url(img/google-mob.png) no-repeat;
}

  .main__button-phone {
	background:url(img/iphonexs-mob.png) 5vw/90% no-repeat;
	position: relative;
	width: 82vw;
    height: 280px;
}	
}	
 

/* бургер-меню */
#menu__toggle {
  opacity: 0;
}
  
  .hamburger-menu__btn {
	z-index: 2;
	display: flex;
	align-items: center;
	position: fixed;
	top: 62px;
	width: 25px;
	cursor: default;
}
  
  .hamburger-menu__btn > span,
  .hamburger-menu__btn > span::before,
  .hamburger-menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color:#ff9100;
	transition-duration: 0.25s;
}
  
  .hamburger-menu__btn > span::before {
	content: '';
	top: -7px;
}
  
  .hamburger-menu__btn > span::after {
	content: '';
	top: 7px;
}
  
  .hamburger-menu__box {
	z-index: 1;
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	padding: 178px 0;
	list-style: none;
	text-align: center;
	align-items: center;
	background-color: #fff;
	transition-duration: 0.25s;
}
  
  .hamburger-menu__box__item_mobile {
	display: block;
	padding: 12px 24px;
	color: #000;
	font: 300 30px/36px 'museosanscyrl', arial, helvetica, sans-serif;
	text-decoration: none;
	transition-duration: 0.25s;
}

  .li:hover {
    cursor: default;
}
  
#menu__toggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}
  
#menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
  
#menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
  
#menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  left: 0;
}

  /* скрывает бургер-меню на высоком разрешении */
@media (min-width: 767px) {
  .hamburger-menu {
    display: none;
}
  
  .hamburger-menu__box {
	display: none;
}
}