html,body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  .menu__item::after {
	position: absolute;
    left: -1px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: #e89c38;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

  .menu__item:hover,
  .menu__item:active {
	opacity: 0.5;
}

  .menu__item:hover::after {
    opacity: 1;
    width: 100%;
}

  .a:hover {
    cursor: default;
}

/* разрешение от 1730 */
@media (min-width: 1730px) {
  .wrapper {
    width: 85%;
	height: 100px;
	margin-top: 31px;
	padding-left: 10vw;
}

  .header {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 0;
}

  .logo__img {
	width: 150px;
	height: 43px;
	background: url(img/stack.svg) 90% 15px no-repeat;
}

  .logo__diamond {
    position: absolute;
	width: 29px;
    height: 29px;
    opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
    left: 5px;
	top: 13px;
}

  .logo__diamond_color {
	position: absolute;
	width: 29px;
    height: 29px;
    opacity: 0.5;
	border-radius: 5px;
    background: #e89c38;
	transform: rotate(135deg);
    left: 10px;
	top: 16px;
}

   .menu {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

  .menu__item {
    position: relative;
    margin-top: 8%;
    margin-right: 24px;
    font: 700 18px/23px 'pt_sans_caption', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
}

  .menu__item:last-child {
    margin-right: 1px;
}

  .main__title {
	text-align: center;
	margin: 58px 0 34px 27.5%;
	width: 45vw;
	font: 700 40px/51px 'pt_sans_caption', arial, helvetica, sans-serif;
}

  .main__blockimg {
	position: relative;
    background: url(img/iphonexs.svg) no-repeat 50% 381px,
	url(img/groupl.svg) no-repeat bottom left,
	url(img/apple.svg) no-repeat 43.4% 223px,
	url(img/googl.svg) no-repeat 56.6% 223px,
	url(img/groupr.svg) no-repeat bottom right;
    box-sizing: border-box;
    width: 100%;
    height: 850px;
	bottom: 199px;
}
}

/* разрешение от 1171 до 1729 */
@media (min-width: 1171px) and (max-width: 1729px) {
  .wrapper {
	width: 80%;
	height: 100px;
	margin-top: 28px;
	padding-left: 16vw;
}
  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
  
  .logo__img {
	width: 111px;
	height: 40px;
	background: url(img/stack.svg) 98% 15px/60% no-repeat;
}
  
  .logo__diamond {
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    border-radius: 5px;
    background: #ffbe4d;
    transform: rotate(135deg);
    left: 5px;
	top: 13px;
}
  
  .logo__diamond_color {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 10px;
	top: 16px;
}
  
  .menu {
	display: flex;
	align-items: center;
	margin-right: 100px;
}
  
  .menu__item {
	position: relative;
	margin-top: 8.3%;
	margin-right: 23px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
  
  .menu__item:last-child {
    margin-right: 1px;
}
    
  .main__title {
	text-align: center;
	margin: 26px 0 33px 22.5%;
	width: 55vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__blockimg {
	position: relative;
	background: url(img/iphonexs-1366.svg) 50% 374px no-repeat,
	url(img/groupl-1366.svg) left 23px no-repeat,
	url(img/apple.svg) 43.5% 276px/10% no-repeat,
	url(img/googl.svg) 56.4% 276px/10% no-repeat,
	url(img/groupr-1366.svg) right 0px no-repeat;
	box-sizing: border-box;
	width: 100%;
	height: 850px;
	bottom: 269px;
}  
}

/* разрешение от 768 до 1170 */
@media (min-width: 768px) and (max-width: 1170px) {
  .wrapper {
	width: 85%;
	height: 100px;
	margin-top: 29px;
	padding-left: 10vw;
}
  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 0;
}
  
  .logo__img {
	width: 117px;
	height: 40px;
	background: url(img/stack.svg) 100% 15px/59% no-repeat;
}
  
  .logo__diamond {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 9px;
	top: 12px;
}
  
  .logo__diamond_color {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 12px;
	top: 16px;
}
  
  .menu {
    display: flex;
	align-items: center;
	margin-bottom: 1px;
}
  
  .menu__item {
	position: relative;
	margin-top: 8.3%;
	margin-right: 22px;
	font: 700 14px/18px 'pt_sans_caption', arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}

  .menu__item:last-child {
	margin-right: 0;
}
    
  .main__title {
	text-align: center;
	margin: 25px 0 33px 17.5%;
	width: 65vw;
	font: 700 32px/41px 'pt_sans_caption', arial, helvetica, sans-serif;
}
  
  .main__blockimg {
	position: relative;
	background: url(img/iphonexs-1366.svg) 50% 372px no-repeat,
	url(img/groupl-1170.svg) left 0 no-repeat,
	url(img/apple.svg) 42.4% 277px/11.4% no-repeat,
	url(img/googl.svg) 57.7% 277px/11.4% no-repeat,
	url(img/groupr-1366.svg) right 0 no-repeat;
    box-sizing: border-box;
    width: 100%;
    height: 850px;
    bottom: 270px;
}  
}

/* adoptation for mobile 401-767 */
@media (min-width: 401px) and (max-width: 767px) {
  .wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: 7%;
}
 	  
  .header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 18%;
}
  	 
  .logo__img {
    width: 200px;
	height: 40px;
	background: url(img/stack.svg) 50% center no-repeat;
}

  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0;
	top: 0;
}

  .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 5px;
	top: 3px;
}
  
  .menu {
	display: none;
}

  .main {
	position: relative;
	width: 100%;
	height: 500px;
	background: url(img/apple.svg) 35% 159px/20% no-repeat,
	url(img/googl.svg) 65% 159px/20% no-repeat,
	url(img/iphonexs-mob.svg) bottom center no-repeat;
}
	  
  .main__title {
	margin: 10% 0 0 24%;
	text-align: center;
	width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}
}

/* adoptation for mobile */
@media (max-width: 400px) {
 .wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: 11.6%;
}
 	  
  .header {
    display: flex;
	position: relative;
	justify-content: space-between;
	margin: 44% 0 0 9%;
}
  	 
  .logo__img {
	width: 200px;
	height: 40px;
	background: url(img/stack.svg) 58% center/53% no-repeat;
}

  .logo__diamond {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #ffbe4d;
	transform: rotate(135deg);
	left: 0px;
	top: 0px;
}

 .logo__diamond_color {
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 5px;
	background: #e89c38;
	transform: rotate(135deg);
	left: 4px;
	top: 3px;
}
  
  .menu {
   display: none;
}

  .main {
	position: relative;
	width: 100%;
	height: 483px;
	background: url(img/apple.svg) 27% 159px/29% no-repeat,
	url(img/googl.svg) 71% 159px/29% no-repeat,
	url(img/iphonexs-mob.svg) bottom center no-repeat;
}
  
  .main__title {
	margin: 28px 56px 0 45px;
	text-align: center;
	width: 274px;
	height: 94px;
	font: bold 24px/31px 'pt_sans_caption', arial, helvetica, sans-serif;
}
}

/* бургер-меню */
#menu__toggle {
  opacity: 0;
}
  
  .hamburger-menu__btn {
	z-index: 2;
	display: flex;
	align-items: center;
	position: fixed;
	top: 62px;
	width: 25px;
	cursor: pointer;
}
  
  .hamburger-menu__btn > span,
  .hamburger-menu__btn > span::before,
  .hamburger-menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color:#ff9100;
	transition-duration: 0.25s;
}
  
  .hamburger-menu__btn > span::before {
	content: '';
	top: -7px;
}
  
  .hamburger-menu__btn > span::after {
	content: '';
	top: 7px;
}
  
  .hamburger-menu__box {
	z-index: 1;
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	padding: 178px 0;
	list-style: none;
	text-align: center;
	align-items: center;
	background-color: #fff;
	transition-duration: 0.25s;
}
  
  .hamburger-menu__box__item_mobile {
	display: block;
	padding: 12px 24px;
	color: #000;
	font: 300 30px/36px 'museosanscyrl', arial, helvetica, sans-serif;
	text-decoration: none;
	transition-duration: 0.25s;
}

  .li:hover {
    cursor: default;
}
  
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
  
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
  
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
  
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

  /* скрывает бургер-меню на высоком разрешении */
@media (min-width: 767px) {
  .hamburger-menu {
    display: none;
}
  
  .hamburger-menu__box {
	display: none;
}
}